/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*custom*/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}


article, aside, details, figcaption, figure, footer, header, hgroup, into, menu, nav, section, summary {
    display: block;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'usual', 'Usual', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.05em;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #adb3b7;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-overflow-style: none;
}
body.no-scroll {
    overflow: hidden !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
.vertical-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}
intro {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    height: 100vh;
    width: auto;
}
section, footer {
    position: relative;    
    display: inline-block;
    padding: 12vh 0;
    height: 100%;
    margin-right: -0.35em;
    vertical-align: top;
}
#hello-section{
    background-color: #010101;
    opacity: 0.5;

    }
#do-section{
    background-color: #000000;
}
#blog-section{
    background-color: #ba9077;
}

#introduction {
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-right: 1em;
    padding-top: 0.1em;
}
.section-logo{
    padding-top: 0px !important;
}


.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    /*background: hsla(350,50%,50%,0.3);*/
}

.rows-text.large, .rows-text .large {
    font-size: 2.5em;
    font-size: 12vw;
    top: 0;
    opacity: 1 !important;
}


.logo-flexible {
    height: 101%;
    /*width: auto;*/
    width: 316vh;
    display: block;
    margin: 0 6vw 0 2vw;
}
.logo-flexible-mobile {
    display: none;
}
.header {
    position: fixed;
    height:50px;
    width: 100%;
    top: -50px;
    background:transparent;
    margin:0px auto;


}
.logo{
    position: relative;
    margin-top: 1vh;
    margin-left: 2vh;
    height: 5vh;
    width: 10vw;
    background-color: #FFFFFF;
}

section.min-width, footer.min-width {
    min-width: 100vw;
}
.somecontent{
    min-height: 1000vw;
}
.main{
position: relative;
height: 1000px;
background-color: #5a5c51;
width: 100%;
}

/*MOBILE AND SMALL SCREEN*/
@media only screen and (max-width: 48em) {
    body {
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 18.75em;
}
section, footer {
    display: block;
    height: auto;
    min-height: 30vh;
    width: 100%;
    overflow: hidden;
    margin-right: 0;
    padding: 3em 0 4em;
}
.logo-flexible {
    display: none;
}
.logo-flexible-mobile {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}


}


